.filtros-propiedades{
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #fff;
  }

  .filtros-propiedades:hover {
    color: #9b1b30;
    background-color: #fff;
    border: 1px solid #9b1b30;
    transition: all .2s ease-in-out;
  }