@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

#root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-primary: #8bc0cd;
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  width: 100%;
  padding: 0;
  margin: 0
}

p {
  color: #707a88;
  font-size: 16px;
}

a {
  font-weight: 500;
  text-decoration: none
}

.btn-home {
	color: #fff;
	padding: 9.5px 36px;
	background: #e63946;
	background: -webkit-linear-gradient(left, #e63946 0%, #ffa387 51%, #e63946 100%);
	background: linear-gradient(to right, #e63946 0%, #ffa387 51%, #e63946 100%);
	background-size: 200% auto;
	border-radius: 25px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}



.btn-home:hover {
	background-position: right center;
	/* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 0;
 
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
} 

h5, h4 {
  color: #203656;
  font-weight: 700;
}

h3 {
  color: #203656;
  font-weight: 700;
  line-height: 1.4;
  margin: 20px 0;
}

h6 {
  font-size: 15px;
  color: #203656;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.image-container {
  min-width: 360px;
  min-height: auto; 
  overflow: hidden;
  border-radius: 10px 0 0 10px;
}

.responsive-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.padding-30 {
  padding: 30px !important;
}

.bordered {
  border: solid 1px #ebebeb;
}

.rounded {
  border-radius: 10px !important;
}

.efecto-hover:hover {
  color: #e63946;
  transition: all .2s ease-in-out;
}

.bg-grey {
  background-color: #f2f2f2;
}

.bg-white {
  background-color: #fff;
}

/* BLOG CSS*/

.container-xl {
  max-width: 1140px;
}

.search-blog-box {
  position: relative;

}

.search-blog-form {
  height: 40px;
  border: 1px solid #cbf3ee;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
}

.search-blog-text {
  font-size: 16px;
  color: #ddd;
  border-width: 0;
  background: transparent;
}

.search-blog-box input[type="text"] {
  width: 90%;
  padding: 8px 0 12px 1em;
  color: #333;
  outline: none;
}

.search-blog-button {
  position: absolute;
  right: 0;
  height: 40px;
  width: 80px;
  font-size: 14px;
  color: #656;
  text-align: center;
  line-height: 4px;
  border-width: 0;
  background-color: #cbf3ee;
  -webkit-border-radius: 0px 15px 15px;
  -moz-border-radius: 0px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
}

.item {
  overflow: hidden;
}

.fit-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.masLeidos {
  border: solid 1px #ebebeb;
  padding: 35px 30px;
  margin-bottom: 40px;
}

.masLeidos div h3 {
  font-size: 20px;
}

.inner {
  overflow: hidden;
  border-radius: 50%;
}

.thumb .inner img {
  object-fit: cover;
  transform: scale(1);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.post {
  counter-increment: my-awesome-counter;
  position: relative;
}

.clearfix a {
  color: #203656;
}

.clearfix p {
  font-size: 14px;
}

.widget ul {
  padding-left: 0;
  list-style: none;
}

.widget ul li{
  position: relative;
  padding-top: 10px;
}

.widget ul li a {
  color:#203656
}

.widget ul li::before {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  margin-bottom: 10px;
  background: #ebebeb;
  background: -webkit-linear-gradient(left,#ebebeb 0%,transparent 100%);
  background: linear-gradient(to right,#ebebeb 0%,transparent 100%);
}

.widget-count {
  position: absolute;
  top: 20px;
  right: 0;
}

.blog-sidebar {
  max-width: 360px;
}

.noticia-link {
  text-decoration: none; /* Quitar subrayado */
  color: inherit; /* Usar el color del texto padre */
}

.noticia-link:hover {
  text-decoration: none; /* Subrayar al hacer hover */
  color: inherit; /* Cambiar color al hacer hover (por ejemplo, rojo) */
}

.noticia-link:active {
  color: inherit; /* Cambiar color cuando el enlace está activo (por ejemplo, verde) */
}

.noticia-autor {
  font-size: 14px;
}

.noticia-texto {
  font-size: 16px;
}

.noticia-titulo {
  color: #203656;
}

.card-body {
  padding: 30px 30px 20px 30px;
  color: #8f9bad;
}

.category-badge {
  color: #fff;
  font-size: 13px;
  border-radius: 25px;
  display: inline-block;
  padding: 6px 11px;
  line-height: 1;
  left: 20px;
  top: 20px;
  position: relative;
  z-index: 2;
  background: #e63946;
  background: linear-gradient(to right,#e63946 0%,#ffa387 51%,#e63946 100%);
  background-size: 200% auto;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.category-badge:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
}

.img-container div{
  overflow: hidden; 
  margin-top: -1.6em;/* Ocultar el contenido que se salga de la caja */
}

.img-container div img {
  object-fit: cover;
}

.img-container:hover div img{
  transition: transform 0.3s ease;
  transform: scale(1.1);
}

@media (max-width: 750px) {
  .blog-sidebar {
      max-width: 500px;
      margin: auto
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
