
.blog-link {
	text-decoration: none;
	/* Quitar subrayado */
	color: inherit;
	/* Usar el color del texto padre */
}

.blog-link:hover {
	text-decoration: none;
	/* Subrayar al hacer hover */
	color: inherit;
	/* Cambiar color al hacer hover (por ejemplo, rojo) */
}

.blog-link:active {
	color: inherit;
	/* Cambiar color cuando el enlace está activo (por ejemplo, verde) */
}

.card-noticia:hover {
	transform: scale(1.001);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: all ease .5s;
}


/* HEADER */

.header {
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 60vh;
}

.header form {
	max-width: 70%;
	background-color: #fff
}

.bgTransparent {
	background-color: #f1f3f5;
    max-width: 70%;
	margin-left: 13em
}

.bgTransparent h6 {
    color: #444;
	font-weight: 500;
}

.bgRgba {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
}

.btnRed {
	background-color: #9b1b30;
	color: #fff;
	transition: all ease .4s;
}

.btnRed:hover {
	background-color: #9b1b30;
	opacity: .9;
	color: #fff
}


.tags a {
    border: solid 1px #ebebeb;
    border-radius: 25px;
    background-color: #fff;
    font-size: 13px;
    display: inline-block;
    padding: 3px 14px;
    margin: 4px 0;
    margin-right: 5px;
}

.tagsHome {
    color: #203656;
	text-decoration: none;
}

.tags a:hover {
    color: #9b1b30;
    outline: 0;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border: solid 1px #9b1b30;
}

.titleHeader h1{
	text-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
	font-weight: 500;
	font-size: 38px;
	color: #fff;
	text-align: center;
}

.titleHeader span {
	font-weight: 600;
}

.titleHeader p{
	text-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
	font-weight: 300;
	color: #fff;
	text-align: center;
}

/* Restablecer propiedades por defecto del select */
.customSelectContainer {
    position: relative;
    background-color: #f1f3f5;
    /* border: 1px solid #d8d8d6; */
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #222;
	max-height: 65px;
  }

.customSelect {
	display: block;
    width: 100%;
    font-size: .85rem;
    line-height: 1.5;
    border-radius: 100px;
    border: 0;
    color: #444;
    padding: 10px 0 10px 10px;
	appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f1f3f5;
    min-height: 37px;
	text-transform: none;
}

.customSelectContainer select:focus {
	outline: none; /* Eliminar el borde de enfoque */
	box-shadow: none; /* Eliminar cualquier sombra de enfoque */
  }

@media (max-width: 900px) {
	.title-header {
		font-size: 2.4rem;
	}

	.header {
		height: 60vh;
	}

	.header form {
		max-width: 90%;
	}
}


@media (min-width: 1200px) {
	.cards-2 .card {
		width: 300px;
	}

	.cards-2 .card:nth-of-type(3n+2) {
		margin-right: 1.625rem;
		margin-left: 1.625rem;
	}

}