
.blog-link {
	text-decoration: none;
	/* Quitar subrayado */
	color: inherit;
	/* Usar el color del texto padre */
}

.blog-link:hover {
	text-decoration: none;
	/* Subrayar al hacer hover */
	color: inherit;
	/* Cambiar color al hacer hover (por ejemplo, rojo) */
}

.blog-link:active {
	color: inherit;
	/* Cambiar color cuando el enlace está activo (por ejemplo, verde) */
}

.card-noticia:hover {
	transform: scale(1.001);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: all ease .5s;
}


/* HEADER */

.header {
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 42vh;
}

.header form {
	max-width: 60%;
}

.bgRgba {
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
}

.btnRed {
	background-color: #e63946;
	color: #fff;
	transition: all ease .4s;
}

.btnRed:hover {
	background-color: #e63946;
	opacity: .9;
	color: #fff
}


.tags a {
    border: solid 1px #ebebeb;
    border-radius: 25px;
    background-color: #fff;
    font-size: 13px;
    display: inline-block;
    padding: 3px 14px;
    margin: 4px 0;
    margin-right: 5px;
}

.tagsHome {
    color: #203656;
	text-decoration: none;
}

.tags a:hover {
    color: #e63946;
    outline: 0;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border: solid 1px #e63946;
}

.titleHeader {
	text-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
	font-weight: 700;
	font-size: 38px;
	color: #fff;
	text-align: center;
}

@media (max-width: 900px) {
	.title-header {
		font-size: 2.4rem;
	}

	.header {
		height: 60vh;
	}

	.header form {
		max-width: 90%;
	}
}

.btn-home {
	color: #fff;
	padding: 9.5px 36px;
	background: #e63946;
	background: -webkit-linear-gradient(left, #e63946 0%, #ffa387 51%, #e63946 100%);
	background: linear-gradient(to right, #e63946 0%, #ffa387 51%, #e63946 100%);
	background-size: 200% auto;
	border-radius: 25px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.btn-home:hover {
	background-position: right center;
	/* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}


@media (min-width: 1200px) {
	.cards-2 .card {
		width: 300px;
	}

	.cards-2 .card:nth-of-type(3n+2) {
		margin-right: 1.625rem;
		margin-left: 1.625rem;
	}

}